@charset "utf-8";

@media screen and (max-width: 767px) {
  html,body{
    overflow: hidden !important;
  }

  div#container {
    display: block;
    width: 100%;
    height: auto;
  }

  header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:3rem;
  }

  header h1 {
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: center;
    width: 100%;
  }

  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    max-width: 500px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  .side-bar.open {
    transform: translateX(0);
    pointer-events: auto;
  }

  .hb-menu {
    display: block;
  }

  .hb-menu {
    display: block;
    position: fixed;
    top: 0,5rem;
    left: 0.5rem;
    z-index: 2000;
    cursor: pointer;
  }

  .hb-menu span {
    font-size: 1.7rem;
    color: var(--text-color);
  }

  .sidebar-overlay {
    display: block !important;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
  }

  .sidebar-overlay.show {
    opacity: 1;
    pointer-events: all;
  }

  .calendar-header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 50%;
    
    
  }

  .calendar-header h2 {
    width: auto !important;
    white-space: nowrap;
    text-align: center;
  }

  .calendar-header h2.date-label{
    word-break: keep-all;
    white-space: normal ;
  }

  main.agenda-page {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
  }

  .agendar-btn,
  .agendar-msg {
    display: none;
  }

  div.calendar-container {
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    padding: 1.2rem;
  }

  .calendar-header {
    gap: 0.5rem;
  }

  .calendar-header h2 {
    font-size: 1.5em;
  }

  div.calendar-grid {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  justify-items: center;
  }

  div.calendar-grid .day {
    width: 38px;
    height: 38px;
    font-size: 16px;
  }

  .info-container {
    grid-column: auto !important;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .info {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }

  .info-box-title {
    text-align: center;
  }

  .modal {
    align-items: flex-start;
    padding-top: 10vh;
  }

  .modal-content {
    width: 90%;
    max-width: 350px;
  }

  .hb-menu.modal {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  div#container {
    display: block;
    width: 100%;
    height: auto;
  }

  main.agenda-page {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
  }

  .calendar-container {
    grid-column: 1 / 2;
    max-width: 90%;
    margin: 0 auto;
  }

  .info-container {
    grid-column: 2 / 3 !important;
    display: flex;
    width: 100%;
  }

  .info {
    width: 90%;
    max-width: 380px;
    text-align: left;
  }

  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    max-width: 260px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  .side-bar.open {
    transform: translateX(0);
    pointer-events: auto;
  }

  .hb-menu {
    display: block;
    position: fixed;
    top: 1rem;
    left: 0.7rem;
    z-index: 2000;
    cursor: pointer;
  }

  .sidebar-overlay {
    display: block !important;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
  }

  .sidebar-overlay.show {
    opacity: 1;
    pointer-events: all;
  }

  body,
  html {
    overflow-x: hidden !important;
  }
}
