@charset "utf-8";

/*Celulares*/
@media screen and (max-width: 767px) {
  div#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  /*header*/
  header h1{
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
  }

  /*Side- bar*/
  .side-bar {
    position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 70%;
   max-width: 300px;
   z-index: 1000;

   display: flex;
   flex-direction: column;
   transform: translateX(-100%);
   transition: transform 0.3s ease;
  
   pointer-events: none;
  }


  .side-bar.open{
    transform: translateX(0);
    pointer-events: auto  ;
   
  }

  .hb-menu {
    display: block;
  }

.hb-menu {
  display: block;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2000; /* acima da sidebar */
  cursor: pointer;
}
 

  /*Pagina Agenda*/
  main.agenda-page {
    margin-left: 0;
    padding: 60px 20px 20px;
    display: flex;
    flex-direction: column;
  }

  .agendar-btn,
  .agendar-msg {
    display: none;
  }
  /*agenda*/

  div.calendar-container {
    max-width: 92%;
    margin:0 auto;
    padding: 1.2rem;
  }

  .calendar-header{
    gap: 0.5rem;

  }

  .calendar-header h2{
    font-size: 1.5em;
  }

  div.calendar-grid {
    gap: 6px;
    font-size: 1.2em;
  }

  div.calendar-grid .day {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }

  /*infobox*/
  .info-container {
    margin-top: 1.5rem;
    width: 100%;
    align-items: center;
  }
  .info {
    width: 90%;
    text-align: center;
  }

  /*modal*/
  .modal {
    align-items: flex-start;
    padding-top: 10vh;
  }

  .modal-content {
    width: 90%;
    max-width: 350px;
  }
  .hb-menu.modal {
    display: none;
  }
}
