@charset "utf-8";

/*Celulares*/
@media screen and (max-width: 767px) {
    
    body {
        font-size: 14px;
    }

    #container {
        padding: 10px;
        display: flex;
    }
    
    .side-bar{
        display: none;
    }

    
}
